<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/challenge1">Interesting Challenge 1</a></li>
				<li><a href="/challenge2">Interesting Challenge 2</a></li>
				<li><a href="/challenge3">Interesting Challenge 3</a></li>
				<li><a href="/challenge4">Interesting Challenge 4</a></li>
	        		<li><a href="/reflection">Learning Reflection</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<h4>Matt Tucker 2017</h4>
			</footer>
		</body>
	</html>
